<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Index</title>
</head>

<body>
     <div>
          <form method="post" action="users/signup">
               <input type="text" name="name" id="name" placeholder="name">
               <input type="text" name="surname" id="surname" placeholder="surname">
               <input type="mail" name="mail" id="mail" placeholder="mail">
               <input type="password" name="password" id="password" placeholder="password">
               <button type="submit" value="signup">register</button>
          </form>
     </div>
</body>

</html>